* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  font-size: 1.6rem;
}

.array {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.array__value {
  padding: 0.5rem;
  border: 1px solid deepskyblue;
  min-width: 4rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.array__value--active::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
}

.status {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.status__item {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid deepskyblue;
}

.status__item--max {
  color: deepskyblue;
}

.status__value {
  font-size: 3rem;
  font-weight: 600;
}

.status__label {
  margin-top: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
}
